{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block content %}

<div class="row justify-content-center">

    <div class="col-md-5">

        <div class="card shadow-sm">

            <div class="card-header">
                Авторизация
            </div>

            <div class="card-body">
                {% if form.non_field_errors %}
                    <div class="alert alert-danger">
                        {% for error in form.non_field_errors %}{{ error }}{% endfor %}
                    </div>
                {% endif %}

                <form method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    
                    <div class="d-flex justify-content-between align-items-center mt-3">
                        {% bootstrap_button "Войти" button_type="submit" button_class="btn-primary" %}
                        
                        <a href="{% url 'users:register' %}" class="btn btn-outline-secondary">
                            Регистрация
                        </a>
                    </div>
                </form>
            </div>

        </div>

    </div>

</div>

{% endblock %}