{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-start pt-2">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-header bg-primary text-white">
                    <h4 class="mb-0">Смена пароля</h4>
                </div>
                <div class="card-body p-4">
                    <form method="post">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <div class="d-grid gap-2 mt-4">
                            {% bootstrap_button "Обновить пароль" button_type="submit" button_class="btn-primary" %}
                            <a href="{% url 'users:settings' %}" class="btn btn-outline-secondary">Отмена</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}