{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-5">
        <div class="card shadow-sm">
            <div class="card-header">
                Регистрация пользователя
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}

                    <div class="d-flex justify-content-between align-items-center mt-3">
                        {% bootstrap_button "Зарегистрироваться" button_type="submit" button_class="btn-outline-dark" %}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}